# .env

# you can find it on website: https://cloud.siliconflow.cn/account/ak
SILICON_FLOW_SK=your_silicon_flow_sk

# you can find it on website: https://dashscope.console.aliyun.com/apiKey
DASH_SCOPE_SK=your_aliyun_sk